@import url('https://fonts.googleapis.com/css2?family=Dekko:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

body {
    background-color: black;
    user-select: none;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.aboutcontainer {
    background-color: white;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 36px 8px rgba(255,255,255,0.86);
    -moz-box-shadow: 0px 0px 36px 8px rgba(255,255,255,0.86);
    box-shadow: 0px 0px 36px 8px rgba(255,255,255,0.86);
    padding: 15px;
    text-align: center;
    font-family: Catamaran;
    overflow-y: auto;
  scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}
.aboutcontainer::-webkit-scrollbar {
    display: none;
}

.aboutcontainer img {
    display: block;
    margin: 25px auto 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.aboutcontainer a {
    display: inline-block;
    text-align: center;
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin: 10px;
}

.aboutcontainer a:hover {
    border-radius: 4px;
    transform: scale(1.2);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
