html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: #000;
}

#viewport-frame {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

#viewport-frame:focus {
	outline: none;
}

#viewport {
	background: #000;
	width: 100%;
	height: 100%;
}

#viewport-frame:-moz-full-screen,
#viewport:-moz-full-screen {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#viewport-frame:-webkit-full-screen,
#viewport:-webkit-full-screen {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
