  @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');
  body {
    background-color: transparent;
    color: #ffffff;
    font-family: Ysabeau Infant, sans-serif;
    text-align: center;
    user-select: none;
  }
  body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  margin-left: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 5px;
  margin-left: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0);
}
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .image-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
  }
  .image-container:hover {
    transform: scale(1.1);
  }
  .image-container .content {
    background-color: transparent;
    padding: 10px;
    border-radius: 0 0 25px 25px;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0 0;
    margin: 0 auto;
  }
img {
  width: 512px;
}
  .image-title {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
  }
  .search-bar {
    padding: 10px;
    margin: 20px auto;
    width: 70%;
    display: block;
    border-radius: 25px;
  }
  #searchInput {
    width: 90%;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s;
  }
  #searchInput:focus {
    width: 80%;
  }
  #searchInput:hover {
    transform: scale(1.05);
  }